/* CSS declarations go here */
.icon{
	margin-top:40px;
	margin-bottom:20px;
	text-align:center;
}
.pdata{
	margin-top:40px;
	margin-bottom:40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

.indicator{
	text-align:center;
}

.indicator .circle{
	display:inline-block;
	width:12px;
	height:12px;
	border:1px solid #0A5BC4;
	border-radius:50%;
}
.indicator .circle.active{
	background-color:#0A5BC4;
}

.quote{
	text-align:center;
	margin-top:0px;
}
.quote p{
	text-align:center;
	quotes: "\201C" "\201D" "\2018" "\2019";
	font-size:20px;
	color:#d3d3d3;
}
.quote p.active{
	color:#2672EC;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.code {
  background-color:#333;
  padding:20px;
  border:1px solid #000;
  color:#ccc;
}

.doc-img{
	border:1px solid #ccc;
	padding:10px;
	margin:10px;
}

.demo p{
	margin:20px;
}

.jumbotron .container img{
	padding-top:10px;
	margin-left:30px;
}
